body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
}
.search-inbox{
    width: 100%;
    height: 120px;
    margin-top: 20px;
    text-align: center;
}
.input{
    width: 450px;
    height: 30px;
    background-color: rgba(209, 209, 209, 0.938);
    border: 1px solid rgba(209, 209, 209, 0.938);
    border-radius: 5px;
    text-align: center;
}
.search-button{
    width: 50px;
    height: 35px;
    background-color: salmon;
    border: 1px solid salmon;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

#food-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.food-item{
    border: 2px solid salmon;
    background-color: salmon;
    border-radius: 10px;
    width: 250px;
    height: auto;
    margin: 10px;
}
.food-img{
    display: block;
    padding: 0%;
    width: 100%;
    height: 180px;
    border-radius: 10px;
}
.food-name{
    font-size: 15px;
    text-align: center;
}
.recipe-btn{
    width: 80px;
    height: 30px;
    border: 2px solid salmon;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: tomato;
}
.recipe-btn:hover{
    background-color: blanchedalmond;
    color: brown;
}
.food-details{
    text-align: center;
    padding: 0px 5px;
}
.food-details ul li {
    list-style:disc;
    font-size: 15px;
}
#food-details{
    width: 30%;
    height: auto;
    padding-bottom: 20px;
    height: auto;
    display: block;
    font-weight:bolder;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
}
#errorMessage{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    color: red;
}